<div class="scrollable">
    <div class="scrollable-content section bck-white">
        <div class="md-primary pull-left navbar-left-menu-button">
            <div ng-click="closeDialog()" name="appBackButton">
                <img src="app/assets/img/arrowbutton_blue.svg" style="transform: rotate(180deg); height:20px; margin-right: 5px;"/> 
                <span style="color:#249fda;">Profile</span>
            </div>
        </div> 

      <img class="header-image" src="app/assets/img/logo_blue.svg" height="30%" style="margin-top:70px"/>

      <div style="margin: 25px; text-align: center;">
          <div style="font-size: 20px; font-weight: 500;">Password change</div>
          To change your password, enter your new password and repeat it in the second box and press the button.
      </div>

      <form role="form" name="changepassword_form" autocomplete="off">
          <fieldset>

              <div class="form-group has-success has-feedback">
                  <input class="form-control" type="password" name="changepassword_password" ng-model="changepassword.password" 
                        placeholder="Enter your password" required autocomplete="off">
                  <div ng-messages="changepassword_form.changepassword_password.$error" ng-if="changepassword_form.changepassword_password.$dirty">
                      <div class="form-msg-error" ng-message="required">This field is required</div>
                  </div>
              </div>

              <div class="form-group has-success has-feedback">
                  <input class="form-control" type="password" name="changepassword_repeatpassword" 
                      ng-model="changepassword.repeatpassword" placeholder="Repeat your password" required autocomplete="off">
                  <div ng-messages="changepassword_form.changepassword_repeatpassword.$error" 
                      ng-if="changepassword_form.changepassword_repeatpassword.$dirty">
                    <div class="form-msg-error" ng-message="required">This field is required</div>
                    <div class="form-msg-error" ng-message="passwordMismatch">Passwords do not match</div>
                  </div>
              </div>
              
          </fieldset>

          <div style="margin: 25px 24px 10px 24px;">
              <div class="btn btn-primary btn-block" ng-click="click_changepasswordService()">CHANGE PASSWORD</div>
          </div>
        </form>
    </div>
</div>
