<div class="scrollable">
    <div class="scrollable-content section bck-white">
        <div class="md-primary pull-left navbar-left-menu-button">
            <div ng-click="closeDialog()" name="appBackButton">
                <img src="app/assets/img/arrowbutton_blue.svg" style="transform: rotate(180deg); height:20px; margin-right: 5px;"/> 
                <span style="color:#249fda;">Login</span>
            </div>
        </div> 
        <img class="header-image"
             src="app/assets/img/logo_blue.svg"
             height="30%" style="margin-top:70px"
             />
        <div class="dialog-center-text">
            <div style="font-size: 20px; font-weight: 500;">Password recovery email</div>
            <div>
                Enter your email address and we will email you recovery link.
            </div>
        </div>
        <div>
            <form role="form" name="forgotpassword_form">
                <fieldset>
                    <div class="form-group has-success has-feedback">
                        <input
                               type="email" validate-email
                               name="email"
                               ng-model="email"
                               class="form-control text"
                               placeholder="Email"
                               required  autocomplete="off"
                               />
                        <div ng-messages="forgotpassword_form.email.$error" ng-if="forgotpassword_form.email.$dirty">
                            <div class="form-msg-error small-text" ng-message="required">
                                This field is required
                            </div>
                            <div class="form-msg-error small-text" ng-message="email">
                                Invalid email
                            </div>
                        </div>
                    </div>
                </fieldset>
          
                <div style="margin: 25px 24px 10px 24px;">
                    <div class="btn btn-primary btn-block" ng-click="sendEmail()">SEND EMAIL</div>
                </div>
            </form>
        </div>
    </div>
</div>